#components-layout-demo-responsive {
  min-height:100vh;
  height:auto;
}
#components-layout-demo-responsive .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}
.alignleft {
  margin-left:10px;
  font-size:18px;
}
.unLogin{
  margin-right:20px;
}
.username{
    margin-right:20px;
}
.userModel{
    float:right;
    margin-top:15px;
}